@use "variables";

.off-canvas-active{
  top: 100% !important;
  right: -100% !important;
  transition: all 500ms;
}

#navbar{
  display: flex;
  justify-content: space-between;
  background-color: variables.$secondary-color;
  padding: 1em 4% ;
  color: #f0f8ff;
  a{
    color: #f0f8ff;
    text-decoration: none;
    transition: all 500ms;
  }
  a:hover{
    color: variables.$main-color;
  }
  div{
    width:40%;
  }
}
.div-logo{
  img{
    width: 170px;
    height: 80px;
  }
}
#menu{
  width: 20% !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25em;

.bar-off{
  transition: all 300ms
  cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  width: 2.5em;
  padding: 0.10em;
  border-radius: 30px;
  background-color: #fff;
}
.bar-off:nth-child(2){
  width: 1.5em;
}
}
.bar:nth-child(1){
  transform: rotate(40deg) translate(0px, 10px);
}
.bar:nth-child(2){
  visibility: hidden;
}
.bar:nth-child(3){
  transform: rotate(-40deg) translate(0px, -10px);
}

            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #navbar{
    height: 4em;
    position: relative;
    a:hover{
      translate: -1em;
    }
  }
  .div-links-navbar{
    position: absolute;
    top: 100%;
    right: -0%;
    transition: all 500ms;
    padding-right: 2em;
    width: 60% !important;
    height: 100vh;
    font-family: variables.$normal-text;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: start;
    align-items: flex-end;
    background-color: variables.$secondary-color;
  }
  .div-logo{
    img{
      width: 100px;
      height: 48px;
    }
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .div-links-navbar{
    position: absolute;
    top: 100%;
    right: 0%;
    height: 100vh;
    background-color: variables.$secondary-color;
    padding-right: 2em;
    transition: all 500ms;
    font-family: variables.$normal-text;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: start;
    align-items: flex-end;
  }

    #navbar{
      height: 4em;
      position: relative;
      a:hover{
        translate: -1em;
      }
    }
  .div-logo{
    height: 70px;
    img{
      width: 100px;
      height: 48px;
    }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #navbar{
    height: 4em;
    a:hover{
      translate: -1em;
    }
  }
  .div-links-navbar{
    transition: all 500ms;
    font-family: variables.$normal-text;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: start;
    align-items: flex-end;
  }
  .div-logo{
    img{
      width: 142px;
      height: 68px;
    }
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #navbar{
    height: 5em;

    a:hover{
      translate: 0em;
    }
  }
  .div-links-navbar{
    height: inherit;
    position: inherit !important;
    top: inherit !important;
    right: inherit !important;
    font-family: variables.$normal-text;
    font-size: 1.25em;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }
  .translate{
    translate: 0% 0%;
    transition: all 500ms;
  }
  #menu{
    display: none;
  }
  .div-logo{
    img{
      width: 170px;
      height: 80px;
    }
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}