@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Boogaloo&family=Quintessential&family=Readex+Pro&display=swap');

// Paleta
$main-color: #F2A20C;
$secondary-color: #032940;
$tertiary-color: #BF6C06;
$color-light: #f0f8ff;

//Fonts
$normal-text: 'Average Sans', sans-serif;
$title-font: 'Boogaloo', cursive;