@use "../variables";

#adoptionPage{
  background-color: variables.$secondary-color;
  color: variables.$color-light;
  padding: 4%;

  a{
    display: block;
    color: variables.$secondary-color;
  }
  h1{
    text-align: center;
    margin: 0 auto;
  }
  .card{
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    z-index: 0;
    transform: translateZ(0);
    width: 236px;
    height: 416px;

    .img-card{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 300ms;
    }
    .img-card:hover{
      transform: rotate(-10deg) scale(1.3);
    }
    .card-footer{
      display: flex;
      flex-direction: column;
      position: absolute;
      padding: 0 1.1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35%;
      backdrop-filter: blur(10px);

      span:nth-child(1){
        font-family: variables.$title-font;
        font-size: 35px;
      }
      span:nth-child(2),
      span:nth-child(3){
        font-family: variables.$normal-text;
        font-size: 19px;
        width: 90%;
      }
    }
  }

}

/*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #adoptionPage{
    h1{
      font-size: 36px;
      width: 90%;
      margin-bottom: 10%;
    }
    .cont-adoption-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #adoptionPage{
    h1{
      font-size: 36px;
      width: 90%;
      margin-bottom: 10%;
    }
    .cont-adoption-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #adoptionPage{
    h1{
      font-size: 36px;
      width: 90%;
      margin-bottom: 10%;
    }
    .cont-adoption-profile{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
    }
  
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #adoptionPage{
    h1:nth-child(1){
      font-size: 55px;
    }
    h1{
      font-size: 36px;
      width: 90%;
      margin-bottom: 10%;
    }
    .cont-adoption-profile{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
    }
  
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}