@use "../variables";

#adoptionPage{
  background-color: variables.$secondary-color;
  color: variables.$color-light;

  a{
    display: block;
  }
  h1{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 5%;
    border: 1px solid red;
  }
  .card{
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid red;
    position: relative;
    transform: translateZ(0);
    width: 236px;
    height: 416px;

    .img-card{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 300ms;
    }
    .img-card:hover{
      transform: rotate(-10deg) scale(1.3);
    }
    .card-footer{
      position: absolute;
      padding: 0 1.5rem;
      bottom: 0;
      left: 0;
      width: 100%;
      backdrop-filter: blur(10px);
    }
  }

}

/*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}